
$bgSecondary: #74FAFF;
$textImportant: #C31F1F;
$bgPrimary: #FF5791;


#main {
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
  margin: 0;
  background: -webkit-linear-gradient(to bottom right, #B9FCFF, #fff);
  background: linear-gradient(to bottom right, #B9FCFF, #fff);
}

.app {
  width: 100vw;
}

.link {
  font-weight: 300;
  text-decoration: none;
  transition-duration: 500ms;
  transition: font-weight ease-out;
  &:hover {
    font-weight: 500;
    transition-duration: 500ms;
  }
  &:focus {
    outline: none;
  }
}

.link.link-main {
  padding: 14px;
  background-color: #FF5791;
  font-weight: 500;
}

.button {
  background-color: #FF5791;
  color: white;
  border-radius: 99999px;
  font-size: 15px;
  outline: none;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

#headline {
  font-weight: 500;
  font-size: 25px;
}

#subheadline {
  font-size: 17px;
  line-height: 1.5;
  margin-top: 12px;
  font-weight: 400;
}

.cta {
  font-family: 'Montserrat', sans-serif;
  background-color: #FF5791;
  padding: 12px;
  font-weight: 400;
  border-radius: 99999px;
  color: white;
  border: none;
  font-size: 16px;
  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.cta-sm {
  background-color: #FF5791;
  padding: 8px;
  font-weight: 400;
  border-radius: 99999px;
  color: white;
  border: none;
  outline: none;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.main_button {
  background-color: #FF5791;
  padding: 8px;
  color: white;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.title {
  color: $textImportant;
}

.review-btn {
  background-color: $bgPrimary;
}

.shortcut-block {
  background-color: $bgSecondary;


  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.review-btn{
  &:hover {
    opacity: 0.7;
  }
  &:focus {
    outline: none;
  }
}

.h-1\/12 {
  height: 10%;
}

.bottom-section {
  background-color: #FAFAFA;
}